<html>
  <head>
  	<meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('index.static', filename='base.css')}}">
  </head>
  <body>
    <header>
      <div>Kinder Garden Helper</div>
    </header>
    <nav class="nav">
      <a href="/">Главная</a>
      <a href="/info">Информация</a>
      <a>Галлерея</a>
      <a>О нас</a>
      <a style="float:right">Регистрация/войти</a>
    </nav>
    {% block content%} {% endblock%}
      
    
  </body>
</html>
