body {
	background-color: rgb(156, 187, 169);
}

header {
	background-color: rgb(150, 236, 222);
	color:rgb(170, 184, 231);
	text-align: right;
	font-size: 46;
	margin: 3px;
}


.nav {
	margin: 2px;
	font-size: 18;
	text-align: justify;
	color:rgb(214, 214, 70);
	background-color: black;
	border-right: 1px #bbb;

}


p {
	font-size: 50;
	color: red;
	
}
